apptainer.enabled = true
conda.enabled = true
cleanup = true

process {
    // Default resources for all processes
    conda = 'environment.yml'
    cpus = 4
    memory = 8.GB
    time = 1.h
    errorStrategy = 'finish'

    // Process-specific resource configurations
    withName: 'dorado_basecall' {
        cpus = 4
        memory = 64.GB
        time = 12.h
        accelerator = 1
        clusterOptions = '--gres=gpu:1' # Use specific GPU request
    }

    withName: 'seqtagger_demultiplex' {
        conda=null
        beforeScript = 'module load cuda && module load apptainer'
        cpus = 4
        memory = 8.GB
        time = 10.m
        accelerator = 1
        clusterOptions = '--gres=gpu:1' # Use specific GPU request
    }

    withName: 'sort_index_bam' {
        cpus = 4
        memory = 10.GB
        time = 1.h
    }

    withName: 'seqtagger_index' {
        conda = null
        beforeScript = 'module load cuda && module load apptainer'
        cpus = 8
        memory = 8.GB
        time = 60.m
        accelerator = 1
        clusterOptions = '--gres=gpu:1' # Use specific GPU request
    }

    withName: 'download_seqtagger_image' {
        conda = null
        beforeScript = 'module load cuda && module load apptainer'
    }

    withName: 'SingleReads' {
        conda = null
        cpus = 4
        memory = 32.GB
        time = 90.m
    }
}

executor {
    name = 'slurm'
    queueSize = 10
}
